Repository fluxcd/notification-controller, pull requests merged in 2020-12, with the labels that each got.

#96 Lookup ready receivers in all namespaces
  internal/server/receiver_handlers.go
Labels: area/receiver

#97 Add alert summary to notification metadata
  api/v1beta1/alert_types.go
  config/crd/bases/notification.toolkit.fluxcd.io_alerts.yaml
  docs/api/notification.md
  docs/spec/v1beta1/alert.md
  internal/server/event_handlers.go
Labels: area/alerting, enhancement

#98 Add example generic webhook request.
  docs/spec/v1beta1/provider.md
Labels: area/docs

#100 Upgrade dependencies
  api/go.mod
  api/go.sum
  go.mod
  go.sum
Labels: area/build
