Repository fluxcd/notification-controller, pull requests merged in 2020-10, with the labels that each got.

#56 Update default branch and namespace
  .github/workflows/e2e.yaml
  .github/workflows/fossa.yml
  .github/workflows/release.yml
  Makefile
  README.md
  docs/internal/release.md
  docs/spec/README.md
  docs/spec/v1beta1/alert.md
  docs/spec/v1beta1/provider.md
  docs/spec/v1beta1/receiver.md
Labels: area/build, area/docs

#58 Implement Prometheus instrumentation
  controllers/alert_controller.go
  controllers/provider_controller.go
  controllers/receiver_controller.go
  go.mod
  go.sum
  main.go
Labels: enhancement

#59 Add namespace to API docs examples
  docs/spec/v1beta1/alert.md
  docs/spec/v1beta1/event.md
  docs/spec/v1beta1/provider.md
  docs/spec/v1beta1/receiver.md
Labels: area/docs

#62 Add support for http(s) proxy when sending alerts
  api/v1beta1/provider_types.go
  api/v1beta1/reference_types.go
  config/crd/bases/notification.toolkit.fluxcd.io_alerts.yaml
  config/crd/bases/notification.toolkit.fluxcd.io_providers.yaml
  config/crd/bases/notification.toolkit.fluxcd.io_receivers.yaml
  docs/api/notification.md
  docs/spec/v1beta1/provider.md
  internal/notifier/client.go
  internal/notifier/client_test.go
  internal/notifier/discord.go
  internal/notifier/discord_test.go
  internal/notifier/factory.go
  internal/notifier/forwarder.go
  internal/notifier/forwarder_test.go
  internal/notifier/rocket.go
  internal/notifier/rocket_test.go
  internal/notifier/slack.go
  internal/notifier/slack_test.go
  internal/notifier/teams.go
  internal/notifier/teams_test.go
  internal/server/event_handlers.go
Labels: area/alerting, area/docs, enhancement

#66 fix typo
  README.md
Labels: area/docs
