Repository fluxcd/notification-controller, pull requests merged in 2021-01, with the labels that each got.

#105 Add hint about used "address" data key to the Provider CRD's SecretRef
  api/v1beta1/provider_types.go
  config/crd/bases/notification.toolkit.fluxcd.io_providers.yaml
  docs/api/notification.md
Labels: area/docs

#107 Fix bullet point formatting
  docs/spec/v1beta1/provider.md
Labels: area/docs

#108 Publish as single multi-arch Docker image
  .github/workflows/release.yml
Labels: area/build

#110 Trigger ImageRepository reconciliation with webhook receivers
  api/v1beta1/reference_types.go
  config/crd/bases/notification.toolkit.fluxcd.io_alerts.yaml
  config/crd/bases/notification.toolkit.fluxcd.io_receivers.yaml
  config/rbac/role.yaml
  controllers/receiver_controller.go
  docs/spec/v1beta1/receiver.md
  go.mod
  go.sum
  internal/server/receiver_handlers.go
  main.go
Labels: area/receiver, enhancement

#112 Implement DockerHub webhook receiver
  api/v1beta1/receiver_types.go
  config/crd/bases/notification.toolkit.fluxcd.io_receivers.yaml
  docs/spec/README.md
  docs/spec/v1beta1/receiver.md
  internal/server/receiver_handlers.go
Labels: area/docs, area/receiver, enhancement

#119 Update Kubernetes packages to v1.20.2
  Makefile
  api/go.mod
  api/go.sum
  go.mod
  go.sum
Labels: area/build

#126 Add Nexus webhook receiver
  api/v1beta1/receiver_types.go
  config/crd/bases/notification.toolkit.fluxcd.io_receivers.yaml
  docs/spec/v1beta1/receiver.md
  internal/server/receiver_handlers.go
Labels: area/receiver

#129 Update fluxcd/pkg/runtime to v0.8.0
  api/go.mod
  api/go.sum
  api/v1beta1/alert_types.go
  api/v1beta1/provider_types.go
  api/v1beta1/receiver_types.go
  api/v1beta1/zz_generated.deepcopy.go
  config/crd/bases/notification.toolkit.fluxcd.io_alerts.yaml
  config/crd/bases/notification.toolkit.fluxcd.io_providers.yaml
  config/crd/bases/notification.toolkit.fluxcd.io_receivers.yaml
  docs/api/notification.md
  docs/spec/v1beta1/README.md
  docs/spec/v1beta1/alert.md
  docs/spec/v1beta1/provider.md
  docs/spec/v1beta1/receiver.md
  go.mod
  go.sum
  main.go
Labels: area/build
